:root {
  --light-blue:#8ecae6;
  --med-blue:#219ebc;
  --dark-blue:#023047;
  --light-yellow:#ffb703;
  --med-orange:#fb8500;
}

*, :before, :after {
  font-family:'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight:600;
}


body {
  background-color:var(--light-blue);
}

header {
  background-color:var(--dark-blue);
  font-size:3em;
  color:aliceblue;
  text-align:center;
  padding: 0.5em;
  position:relative;
  top:0;
  left:0;
}

.block {
  background-color: var(--light-yellow);
  margin: 1em;
  padding: 1em;
  border-radius: 8px;
  color: var(--dark-blue);
}

figure {
  margin: 1em auto 0 auto;
  background-color: var(--light-yellow);
  width:500px;
  padding: 1em;
  border-radius: 8px;
  color: var(--dark-blue);
}

img {
  display: block;
  width:450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

h2 {
  font-size: 1.5em;
  text-align:center;
  text-decoration:underline;
  margin:0.25em;
}

p {
  margin: 1em;
  text-align:justify;
}

ol {
  list-style-type: decimal;
  list-style-position:inside;
  margin: 0 0 0 1em;
}

ul {
  list-style-type: circle;
  list-style-position:inside;
  margin: 0 0 0 1em;
}